{% set dnsmasq = salt['grains.filter_by']({
    'default': {
        'package': 'dnsmasq',
        'service': 'dnsmasq',
        'conf_file': '/etc/dnsmasq.conf',
        'user': 'dnsmasq',
        'group': 'dnsmasq',
        'homedir': '/var/lib/dnsmasq',
    },
}, base='default') %}
