{% set git = salt['grains.filter_by']({
    'RedHat': {
    },
    'Debian': {
    },
    'FreeBSD': {
    },
    'Arch': {
    },
    'default': {
        'package': 'git',
        'user': 'git',
        'home': '/var/lib/vcs-git',
        'http': {
            'cbackend': '/usr/libexec/git-core/git-http-backend',
        },
    }
}, base='default') %}
