{% set defaults = salt['grains.filter_by']({
    'RedHat': {
    },
    'Debian': {
        'nogroup': 'nogroup',
    },
    'FreeBSD': {
        'rootgroup': 'wheel',
    },
    'Arch': {
    },
    'default': {
        'rootgroup': 'root',
        'nobody': 'nobody',
        'nogroup': 'nobody',
    }
}, base='default') %}
