{% set rsyslog = salt['grains.filter_by']({
    'RedHat': {
        'client': {
            'logs': [
                {
                    'selector': ':msg, contains, "[iptables-reject]"',
                    'file': '/var/log/iptables-reject.log',
                    'stop': True
                },
                {
                    'selector': '*.info;mail.none;authpriv.none;cron.none,local1.none,local2.none',
                    'file': '/var/log/messages'
                },
                {
                    'selector': 'authpriv.*',
                    'file': '/var/log/secure'
                },
                {
                    'selector': 'mail.*',
                    'file': '/var/log/maillog'
                },
                {
                    'selector': 'cron.*',
                    'file': '/var/log/cron'
                },
                {
                    'selector': 'uucp,news.crit',
                    'file': '/var/log/spooler'
                },
                {
                    'selector': 'local7.*',
                    'file': '/var/log/boot.log'
                },
                {
                    'selector': 'local1.*',
                    'file': '/var/log/dhcpd.log'
                },
                {
                    'selector': 'local2.*',
                    'file': '/var/log/sshd.log'
                },
            ],
        },
    },
    'Debian': {
        'workdir': '/var/spool/rsyslog',
        'client': {
            'logging': {
                'name': 'rsyslog',
            },
            'logs': [
                {
                    'selector': ':msg, contains, "[iptables-reject]"',
                    'file': '/var/log/iptables-reject.log',
                    'stop': True
                },
                {
                    'selector': 'autm,authpriv.*',
                    'file': '/var/log/auth.log'
                },
                {
                    'selector': '*.*;auth,authpriv.none,local1.none,local2.none',
                    'file': '/var/log/syslog'
                },
                {
                    'selector': 'daemon.*',
                    'file': '/var/log/daemon.log'
                },
                {
                    'selector': 'kern.*',
                    'file': '/var/log/kern.log'
                },
                {
                    'selector': 'lpr.*',
                    'file': '/var/log/lpr.log'
                },
                {
                    'selector': 'mail.*',
                    'file': '/var/log/mail.log'
                },
                {
                    'selector': 'user.*',
                    'file': '/var/log/user.log'
                },
                {
                    'selector': '*.=debug;auth,authpriv.none;news.none;mail.none',
                    'file': '/var/log/debug'
                },
                {
                    'selector': '*.=info;*.=notice;*.=warn;auth,authpriv.none;cron,daemon.none;mail,news.none',
                    'file': '/var/log/messages'
                },
                {
                    'selector': 'local1.*',
                    'file': '/var/log/dhcpd.log'
                },
                {
                    'selector': 'local2.*',
                    'file': '/var/log/sshd.log'
                },
            ],
        },
    },
    'FreeBSD': {
        'workdir': '/var/spool/rsyslog',
        'service': 'rsyslogd',
        'conf': '/usr/local/etc/rsyslog.conf',
        'include_basedir': '/usr/local/etc/rsyslog.d',
        'client': {
            'logs': [
                {
                    'selector': '*.err;kern.warning;auth.notice;mail.crit',
                    'file': '/dev/console'
                },
                {
                    'selector': '*.notice;authpriv.none;kern.debug;lpr.info;mail.crit;news.err,local1.none,local2.none',
                    'file': '/var/log/messages'
                },
                {
                    'selector': 'security.*',
                    'file': '/var/log/security'
                },
                {
                    'selector': 'auth.info;authpriv.info',
                    'file': '/var/log/auth.log'
                },
                {
                    'selector': 'mail.info',
                    'file': '/var/log/maillog'
                },
                {
                    'selector': 'lpr.info',
                    'file': '/var/log/lpd-errs'
                },
                {
                    'selector': 'ftp.info',
                    'file': '/var/log/xferlog'
                },
                {
                    'selector': 'cron.*',
                    'file': 'var/log/cron'
                },
                {
                    'selector': '*.=debug',
                    'file': '/var/log/debug.log'
                },
                {
                    'selector': '*.emerg',
                    'file': '*'
                },
                {
                    'selector': 'local1.*',
                    'file': '/var/log/dhcpd.log'
                },
                {
                    'selector': 'local2.*',
                    'file': '/var/log/sshd.log'
                },
            ],
        },
    },
    'default': {
        'package': 'rsyslog',
        'service': 'rsyslog',
        'workdir': '/var/lib/rsyslog',
        'conf': '/etc/rsyslog.conf',
        'include_basedir': '/etc/rsyslog.d',
        'applications_conf': '40_applications.conf',
        'client': {
            'include': [
                {
                    'tag': 'local',
                    'name': '20_local.conf'
                },
                {
                    'tag': 'forward',
                    'name': '30_forward.conf'
                },
                {
                    'tag': 'applications',
                    'name': '40_applications.conf'
                },
            ],
            'logging': {
                'name': 'syslog',
                'postrotate': [
                    '/bin/kill -HUP $(cat /var/run/syslogd.pid 2>/dev/null) 2>/dev/null || true',
                ],
                'permissions': {
                    'user': 'root',
                    'group': 'root',
                    'mode': '0600',
                },
            }
        },
    }
}, base='default') %}
