{% set snmpd = salt['grains.filter_by']({
    'FreeBSD': {
        'conf_file': '/usr/local/etc/snmpd.config',
    },

    'default': {
        'ports': {
            'udp': [161],
        },
        'package': 'net-snmp',
        'service': 'snmpd',
        'conf_file': '/etc/snmp/snmpd.conf'

    }
}, base='default') %}
