Port {{ ports.tcp|join(' ') }}
{% if listen_address != "all" %}
{% for address in listen_address -%}
ListenAddress {{ address }}
{% endfor -%}
{% endif %}
Protocol 2
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
PrintMotd no
SyslogFacility LOCAL2
UsePrivilegeSeparation sandbox
ClientAliveInterval 10
TCPKeepAlive yes
UseDns no
Subsystem sftp {{ sftp_binary }}
{% for keytype in keytypes -%}
HostKey /etc/ssh/ssh_host_{{ keytype }}_key
{% endfor -%}
