Port {{ ports.tcp|join(' ') }}
{% if listen_address != "all" %}
{% for address in listen_address -%}
ListenAddress {{ address }}
{% endfor -%}
{% endif %}
Protocol 2
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
PrintMotd no
SyslogFacility LOCAL2
{# OpenSSH before 5.9 do not support sandboxing #}
{% if grains['os_family'] == 'RedHat' and grains['osmajorrelease']|int < 7 %}
UsePrivilegeSeparation yes
{% else %}
UsePrivilegeSeparation sandbox
{% endif %}
ClientAliveInterval 10
TCPKeepAlive yes
UseDns no
Subsystem sftp {{ sftp_binary }}
{% for keytype in keytypes -%}
HostKey /etc/ssh/ssh_host_{{ keytype }}_key
{% endfor -%}
