{% from 'states/nagios/map.jinja' import nagios as nagios_map with context %}
service livestatus
{
        type            = UNLISTED
        port            = {{ nagios_map.check_mk.server.livestatus.port }}
        socket_type     = stream
        protocol        = tcp
        wait            = no
{% if allow_from %}
        only_from       = {{ allow_from|map(attribute='ip')|join(' ') }}
{% else %}
        bind            = 127.0.0.1
{% endif %}
        flags           = NODELAY
        user            = {{ nagios_map.user }}
        group           = {{ nagios_map.group }}
        server          = {{ nagios_map.check_mk.server.livestatus.unixcat }}
        server_args     = {{ nagios_map.socket_dir }}/{{ nagios_map.check_mk.server.livestatus.socket_name }}
        disable         = no
}
