{% from 'states/nagios/map.jinja' import nagios as nagios_map with context %}

# paths
log_file={{ nagios_map.logfile }}
cfg_dir={{ nagios_map.cfg_dir }}
object_cache_file={{ nagios_map.object_cache_file }}
precached_object_file={{ nagios_map.precached_object_file }}
resource_file={{ nagios_map.resource_file }}
status_file=/dev/null
command_file={{ nagios_map.command_file }}
query_socket={{ nagios_map.query_socket }}
lock_file={{ nagios_map.lock_file }}
temp_file={{ nagios_map.temp_file }}
temp_path={{ nagios_map.temp_path }}
log_archive_path={{ nagios_map.log_archive_path }}
state_retention_file={{ nagios_map.state_retention_file }}
check_result_path={{ nagios_map.check_result_path }}

# users
nagios_user={{ nagios_map.user }}
nagios_group={{ nagios_map.group }}

# logging
use_syslog=1
log_notifications=1
log_service_retries=1
log_host_retries=1
log_event_handlers=0
log_initial_states=0
log_current_states=0
log_external_commands=0
log_passive_checks=0
log_rotation_method=d

# timings
max_service_check_spread=1
max_host_check_spread=1
interval_length=60

# state retention
retain_state_information=1
retention_update_interval=0
use_retained_program_state=1
use_retained_scheduling_info=1

# flap detection
enable_flap_detection=1
low_service_flap_threshold=5.0
high_service_flap_threshold=15.0
low_host_flap_threshold=5.0
high_host_flap_threshold=15.0

# perfdata
process_performance_data=1

# freshness
check_service_freshness=0
check_host_freshness=0

# misc
check_for_updates=0
use_large_installation_tweaks=1
enable_environment_macros=0
date_format=strict-iso8601
check_external_commands=0
illegal_macro_output_chars=`~$^&"|'<>

{% if accumulator is defined %}
{% for state, contents in accumulator.items() %}
# {{ state }}
{% for content in contents %}
{% for key, value in content.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}

{% endfor %}
{% endif %}
