{% from 'states/influxdb/map.jinja' import influxdb as influxdb_map with context %}
reporting-disabled = true
dir = "{{ influxdb_map.basedir }}"
hostname = "{{ params.get('hostname', grains['fqdn']) }}"

[meta]
  enabled = true
  dir = "{{ influxdb_map.metadir }}"
  bind-address = ":{{ influxdb_map.ports.meta.tcp }}"
  retention-autocreate = true
  election-timeout = "1s"
  heartbeat-timeout = "1s"
  leader-lease-timeout = "500ms"
  commit-timeout = "50ms"
  cluster-tracing = false
  raft-promotion-enabled = true

[data]
  enabled = true
  dir = "{{ influxdb_map.datadir }}"
  max-wal-size = 104857600
  wal-flush-interval = "10m"
  wal-partition-flush-delay = "2s"
  wal-dir = "{{ influxdb_map.waldir }}"
  wal-logging-enabled = true
  query-log-enabled = false

[hinted-handoff]
  enabled = true
  dir = "{{ influxdb_map.hhdir }}"
  max-size = 1073741824
  max-age = "168h"
  retry-rate-limit = 0
  retry-interval = "1s"
  retry-max-interval = "1m"
  purge-interval = "1h"

[cluster]
  shard-writer-timeout = "5s" # The time within which a remote shard must respond to a write request. 
  write-timeout = "10s" # The time within which a write request must complete on the cluster.

[retention]
  enabled = true
  check-interval = "30m"

[shard-precreation]
  enabled = true
  check-interval = "10m"
  advance-period = "30m"

[monitor]
  store-enabled = true # Whether to record statistics internally.
  store-database = "_internal" # The destination database for recorded statistics
  store-interval = "10s" # The interval at which to record statistics

[admin]
  enabled = true
  bind-address = "127.0.01:8083"
  https-enabled = false
  https-certificate = "/etc/ssl/influxdb.pem"

[http]
  enabled = true
  bind-address = ":{{ influxdb_map.ports.query.tcp }}"
  auth-enabled = false
  log-enabled = true
  write-tracing = false
  pprof-enabled = false
  https-enabled = false
  https-certificate = "/etc/ssl/influxdb.pem"

[continuous_queries]
  log-enabled = true
  enabled = true
  recompute-previous-n = 2
  recompute-no-older-than = "10m"
  compute-runs-per-interval = 10
  compute-no-more-than = "2m"
