{% from 'states/influxdb/map.jinja' import influxdb as influxdb_map with context %}
{% if params.get('cluster') is not none %}
{% set peers = [] %}
{% for peer in params['cluster']['nodes'] %}
{% if peer != grains['host'] %}
{% do peers.append(peer.name ~ '.' ~ params['domain'] ~ ':' ~ influxdb_map.ports.meta.tcp) %}
{% endif %}
{% endfor %}
INFLUXD_OPTS="-join {{ peers|join(',') }} -hostname {{ grains['fqdn'] ~ ':' ~ influxdb_map.ports.meta.tcp }}"

{% endif %}
