{% from 'states/nginx/map.jinja' import nginx as nginx_map with context %}
server {
{% if content.protocol == 'http' %}
    listen {{ nginx_map.ports.http }} default_server;
{% if ipv6 %}
    listen [::]:{{ nginx_map.ports.http }} default_server;
{% endif %}
{% else %}
    listen {{ nginx_map.ports.https }} ssl default_server;
{% if ipv6 %}
    listen [::]:{{ nginx_map.ports.https }} default_server;
{% endif %}
{% endif %}
    server_name {{ content.get('server_name', '_') }};
    root {{ content.path }};

    location / {
{% if content.get('autoindex', false) %}
        autoindex on;
{% endif %}
    }
{% if acme_backend %}
    location /.well-known/acme-challenge/ {
        set $upstream "{{ acme_backend }}";
        proxy_pass $upstream;
    }
{% endif %}
}
