{% set nagios = salt['grains.filter_by']({
    'RedHat': {
    },
    'Debian': {
        'check_mk': {
            'agent': {
                'conf': {
                    'xinetd': {
                        'path': '/etc/xinetd.d/check_mk',
                    },
                },
            },
        },
    },
    'FreeBSD': {
        'check_mk': {
            'agent': {
                'service': 'inetd',
                'script': {
                    'path': '/usr/local/bin/check_mk_agent',
                    'source': 'salt://states/nagios/check_mk/agent/files/check_mk_agent.freebsd',
                },
                'conf': {
                    'inetd': {
                        'path': '/etc/inetd.conf',
                    },
                    'services': {
                        'path': '/etc/services',
                    },
                    'hosts_allow': {
                        'path': '/etc/hosts.allow',
                    },
                },
            },
        },
    },
    'default': {
        'user': 'nagios',
        'group': 'nagios',
        'conf': '/etc/nagios/nagios.cfg',
        'logfile': '/var/log/nagios/nagios.log',
        'cfg_dir': '/etc/nagios/conf.d',
        'object_cache_file': '/var/log/nagios/objects.cache',
        'precached_object_file': '/var/log/nagios/objects.precache',
        'resource_file': '/etc/nagios/private/resource.cfg',
        'command_file': '/var/spool/nagios/cmd/nagios.cmd',
        'query_socket': '/var/run/nagios/nagios.qh',
        'lock_file': '/var/run/nagios/nagios.pid',
        'temp_file': '/var/log/nagios/nagios.tmp',
        'temp_path': '/tmp',
        'log_archive_path': '/var/log/nagios/archives',
        'state_retention_file': '/var/log/nagios/retention.dat',
        'confdir': '/etc/nagios/conf.d',
        'packages': ['nagios', 'nagios-plugins-all'],
        'service': 'nagios',
        'socket_dir': '/var/run/nagios',
        'check_result_path': '/var/log/nagios/spool/checkresults',
        'xinetd': {
            'package': 'xinetd',
            'service': 'xinetd',
        },
        'thruk': {
            'package': 'thruk',
            'service': 'thruk',
            'service_webserver': 'httpd',
            'ports': {
                'tcp': [80],
            },
        },
        'graphios': {
            'package': 'graphios',
            'service': 'graphios',
            'spooldir': '/var/spool/nagios/graphios',
            'logfile': '/var/log/graphios.log',
            'conf': '/etc/graphios/graphios.cfg',
            'check_mk_conf': 'graphios.mk',
            'graphios_commands': 'graphios_commands.cfg',
        },
        'check_mk': {
            'agent': {
                'package': 'check-mk-agent',
                'service': 'xinetd',
                'conf': {
                    'xinetd': {
                        'path': '/etc/xinetd.d/check-mk-agent',
                        'template': 'salt://states/nagios/check_mk/agent/files/check-mk-agent.jinja',
                    },
                },
                'port': 6556,
            },
            'server': {
                'package': 'check-mk',
                'main_conf': '/etc/check_mk/main.mk',
                'confdir': '/etc/check_mk/conf.d',
                'ports': {
                },
                'livestatus': {
                    'package': 'check-mk-livestatus',
                    'module_path': '/usr/lib64/check_mk/livestatus.o',
                    'socket_name': 'live',
                    'socket': '/var/run/nagios/live',
                    'port': '6557',
                    'unixcat': '/usr/bin/unixcat',
                },
            },
        },
    }
}, base='default') %}
