{% from 'states/postfix/map.jinja' import postfix as postfix_map with context %}
{% from 'states/defaults.map.jinja' import defaults with context %}

{% include 'states/postfix/files/main.cf.common.jinja' with context %}

# listening
inet_interfaces = $myhostname, localhost
inet_protocols  = all

# receiving
mydestination = localhost
{% if domain_authorative %}
virtual_mailbox_domains = $myhostname, $mydomain
{% else %}
virtual_mailbox_domains = $myhostname
{% endif %}

# hostnames
myhostname = {{ hostname }}
mydomain   = {{ domain }}
myorigin   = $mydomain

# incoming rewriting
append_at_myorigin = yes
append_dot_mydomain = yes

# misc
allow_mail_to_commands =
allow_mail_to_files =
recipient_delimiter = +
show_user_unknown_table_name = no
smtp_cname_overrides_servername = no
smtp_tls_block_early_mail_reply = yes
strict_rfc821_envelopes = yes
smtpd_helo_required = yes
# users
alias_maps     =
alias_database =
virtual_mailbox_maps = hash:{{ postfix_map.virtual_mailbox_file }}
virtual_alias_maps   = hash:{{ postfix_map.virtual_aliases_file }}


# handlers
daemon_table_open_error_is_fatal = yes

{% if ssl %}
# tls
smtpd_tls_security_level = may
smtpd_tls_auth_only = yes
smtpd_tls_key_file          = {{ postfix_map.pkidir }}/{{ postfix_map.key }}
smtpd_tls_cert_file         = {{ postfix_map.pkidir }}/{{ postfix_map.cert }}
smtpd_tls_dh1024_param_file = {{ postfix_map.pkidir }}/{{ postfix_map.dhparams }}
smtpd_tls_mandatory_protocols = !SSLv2, !SSLv3
smtpd_tls_protocols = !SSLv2, !SSLv3
smtpd_tls_loglevel = 1
smtpd_tls_received_header = yes
{% endif %}

# relaying
mynetworks_style = host
relay_domains =
{% if relay is not none %}
relayhost = [{{ relay.server }}]:{{ relay.port|default(postfix_map.ports.submit) }}
smtp_use_tls = yes
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
smtp_sasl_security_options = noanonymous
smtp_tls_CAfile = {{ postfix_map.ca_file }}
{% endif %}
