{% from 'states/postfix/map.jinja' import postfix as postfix_map with context %}
{% from 'states/defaults.map.jinja' import defaults with context %}
# directories
queue_directory      = {{ postfix_map.queuedir }}
command_directory    = {{ postfix_map.commanddir }}
daemon_directory     = {{ postfix_map.daemondir }}
data_directory       = {{ postfix_map.datadir }}
mail_spool_directory = {{ postfix_map.maildir }}
config_directory     = {{ postfix_map.confdir }}
manpage_directory    = {{ postfix_map.mandir }}

# users
mail_owner    = {{ postfix_map.user }}
default_privs = {{ defaults.nobody }}
setgid_group  = {{ postfix_map.group }}

# hostnames
myhostname = {{ hostname }}
mydomain   = {{ domain }}
myorigin   = $mydomain

# listening
inet_interfaces = $myhostname, localhost
inet_protocols  = all

# receiving
mydestination        = $myhostname, localhost.$mydomain, localhost, $mydomain
local_recipient_maps = $alias_maps

# misc
allow_mail_to_commands =
allow_mail_to_files =
recipient_delimiter = +
show_user_unknown_table_name = no
smtp_cname_overrides_servername = no
smtp_tls_block_early_mail_reply = yes
strict_rfc821_envelopes = yes
smtpd_helo_required = yes

# lookups
alias_maps     = hash:{{ postfix_map.aliasesfile }}
alias_database = hash:{{ postfix_map.aliasesfile }}

# handlers
daemon_table_open_error_is_fatal = yes

# relaying
mynetworks_style = host
relay_domains =
{% if relay is not none %}
relayhost = [{{ relay.server }}]:{{ relay.port|default(postfix_map.ports.submit) }}
smtp_use_tls = yes
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
smtp_sasl_security_options = noanonymous
smtp_tls_CAfile = {{ postfix_map.ca_file }}
{% endif %}
