$ORIGIN {{ zone.domain }}.
$TTL {{ zone.ttl }}
@	{{ zone.class }}	SOA	{{ zone.master.name }}. {{ zone.hostmaster }}.{{ zone.domain }}. (
        {{ serial }}	;Serial
        {{ zone.refresh }}	;Refresh
        {{ zone.retry }}	;Retry
        {{ zone.expire }}	;Expire
        {{ zone.ttl }}	;Minimum TTL
)

@	IN	A	{{ zone.master.ip }}

; nameservers
{% for nameserver in zone.nameservers %}
@	IN	NS	{{ nameserver.name }}.
{% endfor %}

; mailservers
{% for mailserver in zone.mailservers %}
@	IN	MX	{{ mailserver.priority }} {{ mailserver.name }}.{{ zone.domain }}.
{% endfor %}

; nameserver A records
{% for nameserver in zone.nameservers %}
{{ nameserver.name }}.	IN	A	{{ nameserver.ip }}
{% endfor %}

; common records
{% for record in zone.records|sort(attribute='ip') %}
{% for arecord in record['dns']['arecords'] %}
{{ arecord }}.{{ zone.domain }}.	IN	A	{{ record.ip }}
{% for subdomain in record['dns'].get('subdomains', []) %}
{{ subdomain }}.{{ arecord }}.{{ zone.domain }}.	IN	A	{{ record.ip }}
{% endfor %}
{% endfor %}
{% for cname in record['dns'].get('cnames', []) %}
{{ cname }}.{{ zone.domain }}.	IN	CNAME	{{ record['dns']['arecords'][0] }}.{{ zone.domain }}.
{% for subdomain in record['dns'].get('subdomains', []) %}
{{ subdomain }}.{{ cname }}.{{ zone.domain }}.	IN	CNAME	{{ record['dns']['arecords'][0] }}.{{ zone.domain }}.
{% endfor %}
{% endfor %}

{% endfor %}
