$TTL {{ zone.ttl }}
@	{{ zone.class }}	SOA	{{ zone.master.name }}. {{ zone.hostmaster }}.{{ zone.domain }}. (
        {{ serial }}	;Serial
        {{ zone.refresh }}	;Refresh
        {{ zone.retry }}	;Retry
        {{ zone.expire }}	;Expire
        {{ zone.ttl }}	;Minimum TTL
)

; nameservers
@	IN	NS	{{ zone.master.name }}.

@	IN	PTR	{{ zone.domain }}.

{% for record in zone.records|sort() %}
{% for arecord in record['dns'].arecords %}
{{ record['reverse'] }}	IN	PTR	{{ arecord }}.{{ zone.domain }}.
{% endfor %}
{% endfor %}
