{% for zone in params.zones %}

        zone "{{ zone.domain }}" IN {
                type slave;
                masters {
                        {{ zone.master.ip }};
                };
                file "slaves/forward.{{ zone.domain }}";
        };

        zone "{{ zone.domain_reverse }}" IN {
                type slave;
                masters {
                        {{ zone.master.ip }};
                };
                file "slaves/reverse.{{ zone.domain }}";
        };
{% endfor %}
