{% set ntp = salt['grains.filter_by']({
    'default': {
        'package': 'ntp',
        'service': 'ntp',
        'conf_file' : '/etc/ntp.conf',
        'driftfile' : '/var/lib/ntp/ntp.drift',
        'logfile' : '/var/log/ntp.log',
        'logging': {
            'files': [{
                'path': '/var/log/ntp.log',
            }],
        }
    },
    'Arch': {
        'service': 'ntpd',
        'default_servers' : [
          '0.arch.pool.ntp.org',
          '1.arch.pool.ntp.org',
          '2.arch.pool.ntp.org',
          '3.arch.pool.ntp.org'],
    },
    'Debian': {
        'default_servers' : [
          '0.debian.pool.ntp.org',
          '1.debian.pool.ntp.org',
          '2.debian.pool.ntp.org',
          '3.debian.pool.ntp.org'],
    },
    'Ubuntu': {
        'default_servers' : [
          '0.ubuntu.pool.ntp.org',
          '1.ubuntu.pool.ntp.org',
          '2.ubuntu.pool.ntp.org',
          '3.ubuntu.pool.ntp.org'],
    },
    'RedHat': {
        'service': 'ntpd',
        'default_servers' : [
          '0.centos.pool.ntp.org',
          '1.centos.pool.ntp.org',
          '2.centos.pool.ntp.org',
          '3.centos.pool.ntp.org'],
    },
    'FreeBSD': {
        'service': 'ntpd',
        'default_servers': [
          '0.freebsd.pool.ntp.org',
          '1.freebsd.pool.ntp.org',
          '2.freebsd.pool.ntp.org',
          '3.freebsd.pool.ntp.org'],
    }
}, base='default') %}
