{% set elasticsearch = salt['grains.filter_by']({
    'default': {
        'packages': [
            'elasticsearch',
            'java-1.8.0-openjdk',
        ],
        'service': 'elasticsearch',
        'conf': '/etc/elasticsearch/elasticsearch.yml',
        'sysconfig': '/etc/sysconfig/elasticsearch',
        'systemd_override': '/etc/systemd/system/elasticsearch.service.d/elasticsearch.conf',
        'security_limits': '/etc/security/limits.d/50-elasticsearch.conf',
        'ports': {
            'query': {
                'tcp': '9200',
            },
            'transport': {
                'tcp': '9300',
            },
        },
        'paths': {
            'data': '/var/lib/elasticsearch',
            'logs': '/var/log/elasticsearch',
        },
    },
}, base='default') %}
