{% from 'states/rsyslog/map.jinja' import rsyslog as rsyslog_map with context %}
module(load="imuxsock")
module(load="imklog")

{% for rule in rsyslog_map.client.logs %}
{{ rule.selector }} action(type="omfile" file="{{ rule.file }}")
{% if rule.get('stop', False) %}
& stop
{% endif %}
{% endfor %}
