{% set sudo = salt['grains.filter_by']({
    'RedHat': {
    },
    'Debian': {
    },
    'FreeBSD': {
        'sudoers': '/usr/local/etc/sudoers',
        'secure_path': '/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'
    },
    'Arch': {
    },
    'default': {
        'package': 'sudo',
        'sudoers': '/etc/sudoers',
        'secure_path': '/sbin:/bin:/usr/sbin:/usr/bin',
        'logfile': '/var/log/sudo.log',
        'logging': {
            'files': [{
                'path': '/var/log/sudo.log'
            }]
        },
    }
}, base='default') %}
