{% set jenkins = salt['grains.filter_by']({
    'default': {
        'packages': [
            'jenkins',
            'java-1.8.0-openjdk',
        ],
        'service': 'jenkins',
        'ports': {
            'tcp': [8080],
        },
    }
}, base='default') %}
