{% from 'states/kibana/map.jinja' import kibana as kibana_map with context %}
server.port: {{ kibana_map.ports.web.tcp }}
server.host: "0.0.0.0"
server.basePath: ""

elasticsearch.url: "http://localhost:9200"

kibana.index: ".kibana"

logging.dest: stdout
logging.quiet: false
