agentaddress udp:161

agentuser  snmp
agentgroup snmp

rocommunity public

#       sec.name  source          community
com2sec public    default         public

sysLocation {{ sysinfo.location }}
sysContact {{ sysinfo.contact }}
sysName {{ grains['fqdn'] }}

dontLogTCPWrappersConnects yes

override .1.3.6.1.4.1.2021.7890.1 octet_str "{{ grains['os'] }} {{ grains['osrelease'] }}"
