{% set acme = salt['grains.filter_by']({
    'default': {
        'package': 'acme-tiny',
        'user': 'acme',
        'home': '/var/lib/acme',
        'webroot': '/var/www/challenges/',
    }
}, base='default') %}
