{% set packages = salt['grains.filter_by']({
    'RedHat': {
      'vim': 'vim-enhanced',
    },
    'Arch': {
    },
    'Debian': {
    },
    'FreeBSD': {
  },
  'default': {
      'tmux': 'tmux',
      'vim': 'vim',
      'zsh': 'zsh',
  }
}, base='default') %}

{% set shells = salt['grains.filter_by']({
    'RedHat': {
    },
    'Arch': {
    },
    'Debian': {
    },
    'FreeBSD': {
        'zsh': '/usr/local/bin/zsh',
  },
  'default': {
      'zsh': '/bin/zsh',
  }
}, base='default') %}
