{% set iptables = salt['grains.filter_by']({
    'default': {
        'packages': [
            'iptables',
        ],
        'services': [],
        'logging': {
            'files': [{
                'path': '/var/log/iptables-reject.log',
                'tag': 'block'
            }]
        },
    },
    'RedHat': {
        'packages': [
            'iptables',
            'iptables-services',
        ],
        'services': [
            'iptables',
            'ip6tables',
        ],
    },
    'Debian': {
        'packages': [
            'iptables',
            'iptables-persistent',
        ],
        'services': [],
    },
}, base='default') %}
