{% set bind = salt['grains.filter_by']({
    'default': {
        'package': 'bind',
        'service': 'named',
        'conf_file' : '/etc/named.conf',
        'user': 'bind',
        'group': 'bind',
        'main_directory': '/var/named',
        'port': '53',
        'logfile': '/var/log/named/named.log',
        'loglevel': 'info',
        'rfc1912zones': '/etc/named.rfc1912.zones',
        'logging': {
            'files': [{
                'path': '/var/log/named/named.log'
            }],
            'postrotate': [
                '/sbin/systemctl reload named.service >/dev/null 2>&1 || true'
            ],
            'permissions': {
                'user': 'named',
                'group': 'named',
                'mode': '0644',
            },
        },
    },
}, base='default') %}
