{% set logstash = salt['grains.filter_by']({
    'default': {
        'package': 'logstash',
        'service': 'logstash',
        'confdir': '/etc/logstash/conf.d',
        'patternsdir': '/etc/logstash/patterns.d',
    },
}, base='default') %}
