{% set salt = salt['grains.filter_by']({
    'FreeBSD': {
        'minion': {
            'service': 'salt_minion',
            'conf_file': '/usr/local/etc/salt/minion',
        },
    },
    'default': {
        'minion': {
            'service': 'salt-minion',
            'conf_file': '/etc/salt/minion',
            'logging': {
                'files': [{
                    'path': '/var/log/salt/minion'
                }]
            },
        },
        'master': {
            'service': 'salt-master',
            'ports': [
                4505,
                4506,
            ],
            'logging': {
                'files': [{
                    'path': '/var/log/salt/master'
                }]
            },
        },
    },
}, base='default') %}
