{% set salt = salt['grains.filter_by']({
    'FreeBSD': {
        'minion': {
            'service': 'salt_minion',
            'conf_file': '/usr/local/etc/salt/minion',
        },
    },
    'default': {
        'minion': {
            'service': 'salt-minion',
            'conf_file': '/etc/salt/minion',
            'logging': {
                'files': [{
                    'path': '/var/log/salt/minion'
                }]
            },
        },
        'master': {
            'service': 'salt-master',
            'conf_file': '/etc/salt/master',
            'conf_dir': '/etc/salt/master.d',
            'conf_include': '/etc/salt/master.d/*.conf',
            'pidfile': '/var/run/salt-master.pid',
            'root_dir': '/',
            'pki_dir': '/etc/salt/pki/master',
            'cachedir': '/var/cache/salt/master',
            'sock_dir': '/var/run/salt/master',
            'log_file': '/var/log/salt/master',
            'user': 'root',
            'ports': {
                'publish': 4505,
                'return': 4506,
            },
            'logging': {
                'files': [{
                    'path': '/var/log/salt/master'
                }]
            },
            'cherrypy': {
                'packages': [
                    'python-cherrypy',
                ],
                'cert_dir': '/etc/salt/pki/cherrypy',
                'port': 8000,
            },
            'reactor': {
                'file_root': '/srv/salt/reactor',
            },
            'inventory': {
                'base': '/srv/salt/base/inventory',
                'secrets': '/srv/salt/base/secrets',
            },
        },
    },
}, base='default') %}
