{% set influxdb = salt['grains.filter_by']({
    'default': {
        'package': 'influxdb',
        'service': 'influxdb',
        'conf': '/etc/influxdb/influxdb.conf',
        'envfile': '/etc/default/influxdb',
        'ports': {
            'meta': {
                'tcp': 8088,
            },
            'query': {
                'tcp': 8086,
            },
        },
        'basedir': '/var/lib/influxdb',
        'metadir': '/var/lib/influxdb/meta',
        'datadir': '/var/lib/influxdb/data',
        'waldir': '/var/lib/influxdb/wal',
        'hhdir': '/var/lib/influxdb/hh',
    },
}, base='default') %}
