{% set package = salt['grains.filter_by']({
    'default': {
    },
    'RedHat': salt['grains.filter_by']({
        '7': {
            'autoupdate': {
                'conf_path': '/etc/yum/yum-cron.conf',
                'conf_source': 'salt://states/package/files/yum-cron.conf.jinja',
            },
        },
        '6': {
            'autoupdate': {
                'conf_path': '/etc/sysconfig/yum-cron',
                'conf_source': 'salt://states/package/files/yum-cron.rhel6.jinja',
            },
        },
        'default': {
            'autoupdate': {
                'package': 'yum-cron',
                'service': 'yum-cron',
            },
        },
    }, grain='osmajorrelease', base='default'),
    'Debian': {
        'autoupdate': {
            'package': 'unattended-upgrades',
            'conf': {
                'conf_20auto_upgrades': {
                    'path': '/etc/apt/apt.conf.d/20auto-upgrades',
                    'source': 'salt://states/package/files/20auto-upgrades',
                },
                'conf_50unattended_upgrades': {
                    'path': '/etc/apt/apt.conf.d/50unattended-upgrades',
                    'source': 'salt://states/package/files/50unattended-upgrades',
                },
            },
        },
    },
    'default': {
        'autoupdate': {
            'default_mode': 'all',
        },
    },

}, base='default') %}
